{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %} 
{% endblock %}



{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Agregar Salida de Personas al Paìs</h3>
                </div>
                <div class="panel-body">
                    <form id = "formulario" role="form" action="." method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <p class="label-form">Nombre de la Persona: </p>
                                            {{personas.nombre}} {{personas.apellido}}
                                            <div class ="help-block"><p class="text-muted label-help-form"></p></div>
                                        </div>
                                        <p class="label-form">Fecha de Salida al paìs</p>
                                        {{form.fechaSalida|add_class:'form-control'|attr:'autocomplete:off'}}
                                        <div class ="help-block"><p class="text-muted label-help-form"></p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">Tiempo de Permanencia</p>
                                        {{form.TiempoPermanencia|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese el tiempo en meses de permanencia en el Paìs'}}
                                        <div class ="help-block"><p class="text-muted label-help-form"></p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">Paìs Origen</p>
                                        {{form.paisDestino|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese el paìs de Origen'}}
                                        <div class ="help-block"><p class="text-muted label-help-form"></p></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-block"> Agregar </button>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-danger btn-block" href="{% url 'buscarPersonaEntrada' %}"> Cancelar </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block scripts %}
{% endblock %}